---
import type { DefaultItem } from '@directus/sdk';
import type { ArticleCollection } from '@lib/directus-collections';
import { getLatestArticles } from '@lib/api';
import { getAssetURL } from '@lib/directus';
import PageLayout from '@layouts/PageLayout.astro';

export async function getStaticPaths() {
  const articles = await getLatestArticles();
  return articles.data?.map((article) => ({ params: { slug: article.slug }, props: { article } }));
}

const { article } = Astro.props as { article: DefaultItem<ArticleCollection> };
const { title, description, cover, body, date_created } = article;
---

<PageLayout title={title}>
  <div class='flex justify-between flex-wrap gap-3 items-center'>
    <h1>{title}</h1>
    <span class='italic'>
      Published: <time datetime={new Date(date_created).toISOString()}
        >{new Date(date_created).toLocaleDateString()}</time
      >
    </span>
  </div>
  <hr />
  <p>{description}</p>
  {cover && <img class='my-5' src={getAssetURL(cover)} alt={title} />}
  <div set:html={body} />
</PageLayout>
