---
import { getLatestArticles } from '@lib/api';
import { getAssetURL } from '@lib/directus';
import PageLayout from '@layouts/PageLayout.astro';

const articles = await getLatestArticles();
---

<PageLayout title={'Main'}>
  <section>
    {
      articles.data?.map((a) => (
        <article class='border-b'>
          <a href={`/blog/${a.slug}/`}>
            <div class='lg:flex lg:items-center'>
              <div class='py-2'>
                <h2>{a.title}</h2>
                <p>{a.description}</p>
                <time class='italic text-sm' datetime={new Date(a.date_created).toISOString()}>
                  Published: {new Date(a.date_created).toLocaleDateString()}
                </time>
              </div>
              {a.cover && (
                <div class='lg:ml-5 flex justify-center border-t py-5 lg:py-0 lg:border-none'>
                  <img
                    class='w-full md:max-w-[500px] lg:max-w-[700px]'
                    src={getAssetURL(a.cover)}
                    alt={a.title}
                  />
                </div>
              )}
            </div>
          </a>
        </article>
      ))
    }
  </section>
</PageLayout>
